/*BROŻKI*/

@font-face {
    font-family: 'qumpellkano12regular';
    src: url('fonts/qumpellkano12-webfont.eot');
    src: url('fonts/qumpellkano12-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/qumpellkano12-webfont.woff2') format('woff2'),
         url('fonts/qumpellkano12-webfont.woff') format('woff'),
         url('fonts/qumpellkano12-webfont.ttf') format('truetype'),
         url('fonts/qumpellkano12-webfont.svg#qumpellkano12regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {margin:0; padding: 0;
    font-family: arial, helvetica, sans-serif;
    font-size: 22px;}
    
body {background-color: #ffe0ac;
    color: #623e00}

#wrapper {width:960px; margin: 0 auto;}
.inside {padding: 10px;}

h1{font-size: 160%;}
h3 {font-size: 110%}

header {padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #623e00;}
    
header h1 {font-family: qumpellkano12regular;}

nav {padding:10px 0px;
    width: 180px;
    float: left;}
    
nav li {list-style-type:none;}

nav ul ul,nav ul ul ul  {padding-left:15px;}
    
    
nav li, nav li a {text-decoration:none;
    font-size: 30px;
    display: block;
    color:#c0a16c;
   /*color: #0d561a;*/}

nav ul ul ul a {font-size:24px;}

    
li.activ {/*font-weight: bold;*/
    color:#623e00}

nav li a:hover {background-color: #ffa000;
    color:#623e00}



article {width:780px;
    float:left;}
.inside h3 {padding-bottom:20px}
h3 a {font-size:110%;
    text-decoration: none;
    color:#623e00;}

h3 a:hover {background-color:#ffa000;}
    
h3+p::first-letter {font-family: qumpellkano12regular;
    font-size: 45px;
    /*border:1px solid;*/
    float:left;
    padding:0 10px 0 0;
    float:left;}
    
img {/*display: inline-block;*/
    border: 10px solid #fff;}

figure {display:inline-block;
	float:left;
   padding: 20px;
   }

figure figcaption {font-size: 90%;
	display: block;
    font-style: italic;
    text-align: center;
    padding-top: 5px;overflow: hidden;}
       

footer {clear: both;
    border-top: 1px solid #623e00;
    padding:5px 0px;
    /*background-color: #ccc;*/
    text-align: center;}
